/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#logohorizontal { width: 260px;
}


/* Encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

header a {
    margin-left: 5px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #007BFF;
}

/* Estilos de las secciones principales */
#seccion-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.section-1, .section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section-2 {
    background-color: #f8f9fa;
}

.acerca-de {
    max-width: 600px;
}

.acerca-de h2 {
    font-size: 2em;
    color: #007BFF;
    margin-bottom: 10px;
}

.acerca-de p {
    margin-bottom: 10px;
    line-height: 1.8;
    color: #666;
}

.acerca-imagen img, .section-2 img {
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.acerca-imagen img:hover, .section-2 img:hover {
    transform: scale(1.05) rotate(3deg);
}

.section-3 {  background-color: #333;
width: 1160px;
height: auto;
display: flex;
justify-content: space-between;
    align-items: center;}

.cajasection3 { background-color: #f4f4f4;
     width: 300px;
height: auto;
margin: 30px;
display: flex;
flex-direction: column;}

.sizeImagen { width: 300px;}


/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

footer h3, footer h2 {
    color: #fff;
    margin-bottom: 10px;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 0;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer nav ul li a:hover {
    color: #007BFF;
}

/* Formulario de contacto */
.contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.campo {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.btn-2 {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-2:hover {
    background-color: #0056b3;
}

/* Animación de flotación */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.acerca-imagen img, .section-2 img {
    animation: float 3s ease-in-out infinite;
}

/* Estilos del mensaje de bienvenida */
.welcome-message {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.welcome-message h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.welcome-message p {
    margin-bottom: 15px;
    font-size: 1em;
}

.welcome-message button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.welcome-message button:hover {
    background-color: #0056b3;
}

/* Estilos base del menú */
.nav-links {
    display: flex;
    gap: 20px;
}

.menu-hamburguesa {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1000px) { 

    nav { font-size: 12px;
        padding: 1%;
    }
}

@media (max-width: 768px) {
    /* Ocultar el menú   y mostrar el menú hamburguesa */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 85px;   /* Ajusta según el tamaño del header */
        left: 5%;
        width: 80%;
        background-color: #333;
        padding: 10px 0;
        z-index: 9999999;
        
    
    }
    header { justify-content: space-around;
        flex-direction: row-reverse;}

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .nav-links.active { width: 60%;
        display: flex;


    }

    .menu-hamburguesa {
        display: block;
    }

    .nav-links ul li a {
        color: #fff;
        padding: 10px 0;
        text-decoration: none;
        font-size: 15px;
    }

    .section-1{ flex-direction: column-reverse; }


}